<!-- https://getbootstrap.com/docs/5.0/layout/grid/ -->

<div class="container-xxl">
    <div class="row justify-content-center">

        <a style="width:fit-content;text-decoration: none;" class="display-1" routerLink="/" >Main page</a>

    </div>

    <nav>
        <a routerLink="/comp-combination">component combination</a>
        <a routerLink="/loader-elem">see loader</a>
        <a routerLink="/restaurant">restaurant</a>
    </nav>
    <router-outlet></router-outlet>
</div>



<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->